@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
* {
  transition: 0.3s all;
}
a {
  text-decoration: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
.mynav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #1976D2;
  padding: 0 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
}
.mynav__theme {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
}
.mynav__theme:active {
  background: linear-gradient(#f59500, #f5ae00) #f59500;
}
.mynav__theme:hover {
  background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}
.mynav__themeOne {
  display: inline-block;
  color: white;
  text-decoration: none;
  outline: none;
  border-width: 1px;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
  /* Сверху | Справа | Снизу | Слева */
  padding: 7px 3px 5px 1px;
}
.mynav__themeOne:hover {
  transform: scale(1.2);
}
.mynav__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.mynav__item {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 15px;
}
.mynav__link {
  background: -moz-linear-gradient(#D0ECF4, #5BC9E1, #D0ECF4);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#D0ECF4), to(#D0ECF4), color-stop(0.5, #5BC9E1));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
  padding: 3px 7px;
  color: #333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #666;
}
.mynav__link:hover {
  font-size: 17px;
}
.main {
  padding: 40px 0;
}
.main__content {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  margin: 0 auto;
}
.main__tile {
  padding: 20px;
  width: 18%;
  box-shadow: 0 0 10px rgba(109, 15, 215, 0.4);
  background-color: rgba(92, 233, 155, 0.1);
}
.main__tile--danger .main__header,
.main__tile--danger .main__plus {
  color: #E64759;
}
.main__tile--success .main__header,
.main__tile--success .main__plus {
  color: #9F86FF;
}
.main__tile--warning .main__header,
.main__tile--warning .main__plus {
  color: #E4D836;
}
.main__tile--primary .main__header,
.main__tile--primary .main__plus {
  color: #1BC98E;
}
.main__header {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.main__features {
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0 0 0 20px;
}
.main__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
}
.main__footer {
  text-align: center;
}
.main__button {
  height: 42px;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  font-size: 18px;
  border: 1px solid transparent;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
}
.main__button--danger {
  border-color: #E64759;
}
.main__button--danger:hover {
  background: #E64759;
  color: #fff;
}
.main__button--danger {
  border-color: #E64759;
  -webkit-border-radius: 25% 10%;
  -moz-border-radius: 25% 10%;
  border-radius: 25% 10%;
}
.main__button--danger:hover {
  background: #ff2e46;
  color: #008235;
}
.main__button--danger:active {
  background: #980f00;
}
.main__button--success {
  border-color: #9F86FF;
}
.main__button--success:hover {
  background: #9F86FF;
  color: #fff;
}
.main__button--success {
  border-color: #9F86FF;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.main__button--success:hover {
  background: darkblue(#9F86FF, 30%);
  color: #bb6dbd;
}
.main__button--success:active {
  background: linear-gradient(#fafafa, #ebebeb);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px 1px rgba(255, 255, 255, 0.4), 0 -1px 1px 1px rgba(0, 0, 0, 0.1);
}
.main__button--primary {
  border-color: #1BC98E;
}
.main__button--primary:hover {
  background: #1BC98E;
  color: #fff;
}
.main__button--primary {
  border-color: #1BC98E;
  -webkit-border-radius: 50% 2% 40%;
  -moz-border-radius: 50% 2% 40%;
  border-radius: 50% 2% 40%;
}
.main__button--primary:hover {
  background: darkblue(#1BC98E, 30%);
  color: #bb6dbd;
}
.main__button--primary:active {
  padding: calc(0.25em + 1px) 0.5em calc(0.25em - 1px);
  border-color: #b19f00;
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(255, 255, 0, 0.45);
}
.main__button--warning {
  border-color: #E4D836;
}
.main__button--warning:hover {
  background: #E4D836;
  color: #fff;
}
.main__button--warning {
  border-color: #E4D836;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.main__button--warning:hover {
  background: #ffef1b;
  color: #008235;
}
.main__button--warning:active {
  transition: 0.2s;
  background: black;
}
